/*Aplica em todos os elementos*/
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
    
}

.fundo {

    background-image: url("https://i.pinimg.com/originals/b1/72/8a/b1728a49ec07b79af0796beefe503bb9.gif");

    height: 100vh;
    width: 100vw;
}

.cabCal {

    text-align: center;
    align-items: center;

}

.tituloCal {
    font-size: 20px;
    text-shadow:#000 1px -1px, #000 -1px 1px, #000 1px 1px, #000 -1px -1px
    
}

.imgLogoGab {
    height: 50px;
    width: 50px;
}

#resultado {

    width: 96%;
    height: 35px;

    margin: 5px;

    background-color: white;

    font-size: 30px;
    color: black;
    text-align: right;

}


.calculadora {
    /*Ocupa apenas o espaço dela mesma*/
    position: absolute;

    background-image: url("https://media.tenor.com/sWsqhP50KdQAAAAC/rgb-rainbow.gif");

    /*A ultima casa (alpha) define a transparencia*/
    background-color: rgba(138, 43, 226, 0.9);

    /*Posicionamento*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 20px;

    /* padding: Distancia entre os elementos e a borda*/
    padding: 20px;

}

.botao {
    background-color: rgb(187, 156, 216);

    height: 50px;
    width: 50px;
    margin: 2px;

    font-size: 25px;
    color: #fff;

    /*Animação no cursor ao passar sobre um botão*/
    cursor: pointer;

    border: none;

    border-radius: 5px;
}

.botao:hover {
    /*Passar sobre o botão muda a cor*/
    background-color: rgb(71, 6, 120);
}


.creditos{
    font-size: 20px;
    text-align: center;
    text-shadow:#a60e97 1px -1px, #0d9a43 -1px 1px, #ee0404 1px 1px, #e3a107 -1px -1px;
    color: #000000;

    padding-top: 10px;
}